# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\User\Desktop\Other\HomeWork\Fundamentals Of Algorithmization And Programming\2_semester\2021.02.27_Lab1\Vector\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
