deque.pdf
*/.idea
*/cmake-build-debug
*/CMakeLists.txt
cmake-build-debug
/cmake-build-debug
.idea
/.idea
/__astcache
*/__astcache
__astcache

build-USAUsersTweets-Desktop_Qt_5_15_2_MinGW_64_bit-Debug
/build-USAUsersTweets-Desktop_Qt_5_15_2_MinGW_64_bit-Debug
build-USAUsersTweets-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/